#ignore singularity images
*.sif

#raw example images (they may be too big)
***.raw

#ignore
ignore/
**/foo/

#build files
harpia.egg-info/
obj/
Test
build/
dist/
**.so
**/__pycache__

#ignore CMakeLists
**/CMakeLists.txt

#ignore cyhton generated fiels (be cafeful with c++/cuda test files, they can be ignored also)
**.cpp

